pre-commit
torch==2.9.1
torchaudio==2.9.1
torchvision==0.24.1
transformers==4.57.1
qwen-vl-utils==0.0.11
datasets
setuptools
tqdm
wandb
psutil
numpy
accelerate
pydantic
# 本地 sglang 需手动安装：pip install -e "./sglang-main/python[all]"
openai-harmony
yunchang
